{% extends 'base.html' %}
{% block title %}
    Get Ready to Practice Trading
{% endblock %}

{% block content %}
    <div class="container fade-in">
        <div class="container-fluid">
            
                <img src="https://img.freepik.com/free-vector/gradient-stock-market-concept_23-2149166910.jpg?w=2000" alt="Full-width image" class="full-width-image">
                <div class="image-overlay">
                    <h2>WE MAKE TRADING EASY</h2>

        </div>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="container">
            <h1>Welcome to Stock Practice Hub</h1>
            <p>Practice trading stocks and improve your skills using fake money</p>
            <a href="#" class="btn btn-primary btn-lg">Get Started</a>
        </div>

    </div>

    <script>
        window.addEventListener("DOMContentLoaded", function() {
          document.querySelector(".fade-in").classList.add("fade-in");
        });
    </script>
{% endblock %}